# Docker-specific configuration
server:
  port: 8089

spring:
  application:
    name: gateway
  data:
    redis:
      host: redis
      port: 6379

logging:
  level:
    root: INFO
    com.blibli.gdn.gateway: INFO

