/* Colors
=================================================================== */

$color_grey_dark: #83919A;
$color_grey_light: #C1C9CC;
$color_white: white;
$color_list_item_hover: #F7F7F7;

/* Sizes
=================================================================== */

$navbar_height: 56px;

/* Miscellaneous
=================================================================== */

$box_shadow_light: 0 2px 1px 0 rgba(0, 0, 0, 0.2);